.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 1 30px;
    min-width: 100%;
}
.embla__slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}  