$primary: #093ea8;
$tm-light-blue: #006CB7;
$tm-dark-blue: #173058;
$secondary: #D9D9D9;
$success: #22e11c;
$info: #d9ff50;
$warning: #ffbe0b;
$danger: #C11F48;
$light: #c0ccda;
$dark: #000103;

$white: #fff;

//footer
$gray-tm: #D9D9D9;
$light-grey-line: #EEEEEE;
$tm-light-red: #dd2855;

//ci
$icon-light-blue: #006CB7;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: 'Montserrat', sans-serif !default;

$font-size-base:              1rem; // Assumes the browser default, typically `16px`

$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
