$primary: #093ea8;
$secondary: #D9D9D9;
$success: #22e11c;
$info: #d9ff50;
$warning: #ffbe0b;
$danger: #C11F48;
$light: #c0ccda;
$dark: #000103;

$white: #fff;

//footer
$gray-tm: #D9D9D9;
$light-grey-line: #EEEEEE;

//ci
$icon-light-blue: #006CB7;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: 'Montserrat', sans-serif !default;
