.footer{
    background-color: $gray-tm;
    display: flex;
    flex-direction: column;
}

.footer-menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-bottom: 3px solid $light-grey-line;
    font-weight: bolder;
    width: 90%;
    align-self: center;
}

.btn-footer{
    background-color: inherit;
    border: none;
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 10px 15px;
}

.footer-drop{
    background-color: $primary;
}

.follow-social{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-bottom: 30px;
}

.credits-container{
    display: flex;
    flex-direction: column;
    background-color: $tm-dark-blue;
    color: $white;
}