.top-nav{
    background-color: $danger;
    color: $white;
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .btn-largest{
        background-color: inherit;
        color: inherit;
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-weight: bold;
    }
}

.menu-items{
    background-color: $danger;
    width: 95%;
    color: $white;
    font-size: 0.8rem;
}

.login-register{
    display: flex;
    font-size: small;
    flex-direction: row-reverse;
    font-weight: bold;
}